{% extends "base.html" %}
{% block title %}Orders {{ verb }}{% endblock title %}
{% block body %}
<td><a href="/book_shop/order/create/{{ obj.pk }}"class="btn btn-primary">Create</a></td>
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>User</td>
        <td>Summ</td>
        <td>Currency</td>
        <td>Actions</td>
    </tr>
    </thead>
    {% for obj in object_list %}
    <tr>
        <td><a href="/book_shop/order/{{ obj.pk }}">{{ obj.pk }}</a></td>
        <td>{{ obj.user }}</td>
        <td>{{ obj.summ }}</td>
        <td>{{ obj.order_currency }}</td>
        <td>
            <a href="/book_shop/order/update/{{ obj.pk }}"class="btn btn-success">Update</a>
            <a href="/book_shop/order/delete/{{ obj.pk }}"class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}